/******* GÉNÉRAL *******/

//DEBUG//
// * {
//     outline: 1px solid red;
// }

::-moz-selection {
    background: #edfcff;
    color: $black;
    text-shadow: none;
}

::selection {
    background: #edfcff;
    color: $black;
    text-shadow: none;
}

html {
    font-size: 62.5%;
    /* sets the base font to 10px for easier math */
    color: $white;
    &.no-scroll {
        position: fixed;
        overflow: hidden;
        width: 100%;
        left: 0;
        right: 0;
        top: var(--scroll-top);
    }
}

body {
    font: 1.6em / 1.5 $sans;
    font-kerning: normal;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
}

ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

ol {
    counter-reset: ol-counter;
    list-style-type: none;

    > li {
        counter-increment: ol-counter;

        &:before {
            content: counter(ol-counter) ".";
        }
    }

    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

dt,
dd {
    display: inline;
    margin: 0;
}

dt {
    &:after {
        content: ": ";
    }
}

dd {
    + dt {
        &:before {
            content: "\A";
            white-space: pre;
        }
    }

    + dd {
        &:before {
            content: ", ";
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    + p {
        margin-top: 1em;
    }
}

/******* LIENS / BOUTONS *******/

a {
    color: inherit;
    text-decoration: none;
    &:focus {
        outline: 0;
    }
    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.hidden {
    display: none !important;
}

.visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
    margin: -1px !important;
    overflow: hidden !important;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.icon {
    fill: currentColor;
}

.no-transition {
    transition: none !important;
    &::after,
    &::before {
        transition: none !important;
    }
}
