// Variables //

// Colors
$white: #ffffff;
$black: #010101;
$black-50: #808080;
$grey-light: #f3faf8;
$green-emerald: #1bd292;
$green-lime: #d2f000;

// Fonts
$sans: "Inter", sans-serif;

$container: 1440px;
$desktop-large: 1200px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;
